/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

/**************** Common Styles **************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
.btn-primary {
    background-color: #fd6e0a;
    color: #fff;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn-container {
    display: flex;
}
.btn-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-download {
    width: 200px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27.24px;
}
.btn-download img {
    margin: 10px;
}

/************** header styles****************/
header {
    max-width: 1600px;
    padding-top: 36px;
    background-color: #fff8f3;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
nav h2 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    color: #181818;
}
nav h2 .text-primary {
    color: #fd6e0a;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style-type: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #474747;
    padding: 0 40px;
}
nav ul li:last-of-type {
    padding-right: 0;
}
nav ul li button {
    width: 150px;
    height: 64px;
}

/*************** banner styles **************/
.banner-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    background-image: url("./images/header_bg.png");
    background-size: 700px 440px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 600px;
    overflow: hidden;
}
.banner-img {
    width: 500px;
    height: auto;
    margin-right: 20px;
    margin-top: 21px;
}
.banner-text {
    width: 500px;
    height: 356px;
}
.banner-text h2 {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    color: #474747;
}
.banner-text h1 {
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    color: #181818;
}
.banner-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin: 20px 0;
}
.btn-border {
    width: 160px;
    height: 64px;
    border: 1px solid #fd6e0a;
    border-radius: 5px;
    background-color: #fff;
    color: #fd6e0a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27.24px;
}
.banner-text .btn-border img {
    margin-right: 10px;
}
.banner-sec button {
    margin-top: 20px;
}
.developer-text {
    font-weight: 700;
    font-size: 82px;
    line-height: 136px;
    letter-spacing: 0.33em;
    color: rgba(24, 24, 24, 0.15);
    transform: rotate(-90deg);
    position: absolute;
    top: 255px;
    left: -270px;
}

/********** Main section's common style *************/
main h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    color: #181818;
}
main p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}
/*************** about-me-sec- styles **************/
.about-me-sec {
    margin: 130px 150px;
    padding: 130px 155px;
    background-color: #fff8f3;
    height: 550px;
    text-align: center;
}
.about-me-sec > p {
    margin: 30px 0;
    text-align: center;
}
.idendity-card {
    display: flex;
    justify-content: space-between;
}
.idendity-card > p {
    font-size: 20px;
}
.idendity-card h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #474747;
}

/************ What do sec styles *************/
.what-do-sec {
    margin: 0 150px 130px;
}
.what-do-sec > p {
    margin: 30px 80px 50px;
    text-align: center;
}
.programming-card-container {
    display: flex;
    justify-content: space-between;
}
.programming-card {
    padding: 30px;
    width: 240px;
    height: 400px;
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.programming-card img {
    width: 44px;
    height: 44px;
}
.programming-card h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #181818;
    margin: 30px 0 20px;
}
.programming-card p {
    font-size: 16px;
    line-height: 28px;
}

/************ Resume sec styles *************/
.resume-sec {
    margin: 0 150px 100px;
}
.resume-details {
    margin-top: 100px;
    display: flex;
    column-gap: 60px;
}
.resume-text {
    margin: 30px 0;
}
.resume-details h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #474747;
}
.resume-details h4 {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #474747;
}
.resume-details h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #757575;
}
.resume-details p {
    font-size: 16px;
    line-height: 28px;
}
.resume-details hr {
    border: none;
    border-top: 1px solid #d1d1d1;
}
.resume-sec button {
    margin: 20px auto 0;
}

/*********** footer section *************/
footer {
    background-color: #fff8f3;
    padding: 100px 150px;
    display: flex;
    justify-content: space-between;
}
footer div {
    width: 45%;
}
footer h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #181818;
}
footer p {
    margin: 20px 0 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #474747;
}
footer .social-media-icon img {
    width: 24px;
    height: 24px;
    margin-left: 25px;
}
footer form {
    margin-top: 28px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    height: 64px;
    border: none;
    margin-bottom: 24px;
    background: #ffffff;
    border-radius: 5px;
    padding: 18px 30px;
}
textarea {
    height: 180px;
    resize: none;
}
input[type="submit"],
input[type="reset"] {
    width: 150px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
}
footer ::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
